
<nav class="navbar is-dark" role="navigation">
    <div class="navbar-brand">
        <img class="is-logo" src="assets/images/tarkovlogo.png" alt="logo" routerLink="/">
    </div>
    <div class="navbar-end">
        <span class="navbar-item pr-6">
            <a class="button is-inverted" routerLink="/about">
                <span class="icon">
                    <i class="fa fa-list-ul"></i>
                </span>
                <span>About</span>
            </a>
        </span>
    </div>
</nav>