<section class="hero is-dark">
    <div class="hero-body">
        <h1 class="title has-text-centered is-family-code">About</h1>
    </div>
</section>

<section class="section has-background-dark is-family-code">

    <div class="has-text-centered has-text-white is-size-3 mb-6">
        <a routerLink='/patchnotes'>Patch Notes</a>
    </div>

    <!-- Description of tarkov -->
    <div class="has-text-centered has-text-white is-size-3">
        About Tarkov
    </div>
    <div class="has-text-centered has-text-white is-size-5 mb-6">
        Escape from Tarkov is a hardcore and realistic online first-person action RPG with MMO 
        features developed by Russian Saint-Petersburg-based game developer, Battlestate Games. 
        Set in the fictional Norvinsk region located on the frontier between Russia and Europe, 
        the metropolis of Tarkov was plunged into anarchy thanks to the Contract Wars. What was 
        once a bustling city, is now roamed by rivalling scavenger gangs, former private military 
        forces, and black ops units. Between them all, there's you, your stash, and the escape back 
        to the free world from the depths of Tarkov.
    </div>

    <div class="has-text-centered has-text-white is-size-3">
        About the Site
    </div>
    <div class="has-text-centered has-text-white is-size-5 mb-6">
        If you're having a difficult time selecting a map for your next raid in Tarkov this is the site for you!
        This web application will randomly select a map from the currently playable maps in Tarkov.
        You are also able to register for an account which will allow you to favorite your best maps.
        A map which you have favorited will increase the likelyhood of that map being selected.
    </div>

    <div class="has-text-centered has-text-white is-size-5 mb-6">
        The list of maps presented on this site are the current maps available in the game. Maps will be added to
        this site as they are added to the game. 
    </div>

    <!-- Disclaimer -->
    <div class="has-text-centered has-text-white is-size-5">
        Disclaimer: This site is in no way affiliated with BattleState Games
    </div>
</section>
