<section class="hero is-dark">
    <div class="hero-body">
        <h1 class="title has-text-centered is-family-code">Patch Notes</h1>
    </div>
</section>

<section class="section has-background-dark">
    <div class="px-6 has-text-white is-size-3">
        Version 1.2
    </div>
    <div class="px-6 has-text-white is-size-5">
        <p>- Created Patch Note page</p>
        <p>- Added image carousel animation</p>
        <p>- Added spin button to initiate animation</p>
        <p>- Added stop button to stop animation and display the selected map</p>
        <p>- Added missing Shoreline map card</p>
        <p>- Added browser tab icon</p>
        <p>- Added Dropdown menu in Header for navigation(Account and Favorite tabs don't currently work)</p>
        <p>- Fixed bug when selecting random map (same map would be constantly selected)</p>
    </div>
</section>

<!-- version 1.0 -->
<section class="section has-background-dark">
    <div class="px-6 has-text-white is-size-3">
        Version 1.0
    </div>
    <div class="px-6 has-text-white is-size-5">
        <p>- Initial release of site</p>
        <p>- added Factory, Customs, Woods, Shoreline, Reserve, Labs and Interchange</p>
        <p>- added Spin button to randomly select map</p>
        <p>- created about page</p>
    </div>
</section>
