.update-username{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.update-username .form-control {
    position: relative;
}

.update-email{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.update-email .form-control{
    position: relative
}