<section class="hero is-dark">
    <div class="hero-body">
        <h1 class="title has-text-centered is-family-code">Tarkov Map Selector</h1>
        <p class="subtitle has-text-centered is-family-code">Click "Select" to begin</p>
    </div>
</section>


<section class="section has-background-dark">


    <div class="has-text-centered has-text-white is-size-3 is-family-code">
        ||
    </div>

    <!-- Temp image -->
    <div class="has-text-centered" *ngIf="showTemp">
        <img src="assets/images/escape-from-tarkov-logo.png" width="520">
    </div>

    <div class="has-text-centered" *ngIf="isShow">
        <ngb-carousel [showNavigationArrows]="false"
            [showNavigationIndicators]="false"
            [pauseOnHover]="false"
            [keyboard]="true"
            [wrap]="true"
            [interval]=1>
            <ng-template ngbSlide id="slide1">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Factory
                    </div>
                    <img src="assets/images/Factory-Day_Banner.png">
                </div>
            </ng-template>
            <ng-template ngbSlide id="slide2">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Customs
                    </div>
                    <img src="assets/images/Customs_Banner.png">
                </div>
            </ng-template>
            <ng-template ngbSlide id="slide3">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Woods
                    </div>
                    <img src="assets/images/Banner_woods.png">
                </div>
            </ng-template>
            <ng-template ngbSlide id="slide4">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Shoreline
                    </div>
                    <img src="assets/images/Banner_shoreline.png">
                </div>
            </ng-template>
            <ng-template ngbSlide id="slide5">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Reserve
                    </div>
                    <img src="assets/images/Reserve.png">
                </div>
            </ng-template>
            <ng-template ngbSlide id="slide6">
                <div class="picsum-img-wrapper">
                    <div class="is-family-code has-text-white is-size-3">
                        Labs
                    </div>
                    <img src="assets/images/TheLabBanner.png">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="has-text-centered" *ngIf="!isShow">
        <p class="has-text-white is-size-3 is-family-code">{{ answer }}</p>
        <img src="{{ filepath }}">
    </div>

    <div class="has-text-centered has-text-white is-size-3 is-family-code">
        ||
    </div>


    <div class="has-text-centered mt-2">
        <a class="button is-inverted is-medium" (click)="toggleDisplay()" (click)="disableTempImg()"
        (click)="enableStopButton()">
            <span class="icon pl-3">
                <i class="fa fa-refresh"></i>
            </span>
            <span>Spin</span>
        </a>
    </div>

    <div class="has-text-centered" *ngIf="showStopButton">
        <a class="button is-primary is-medium mt-1" onsubmit="disable" (click)="spin()" (click)="toggleDisplay()">
            <span class="icon pl-3">
                <i class="fa fa-stop-circle-o"></i>
            </span>
            <span>Stop</span>
        </a>
    </div>
</section>

<section class="section has-background-dark">
    <div class="mt-6 mb-6 has-text-centered has-text-white is-family-code">
        <div class="is-size-2">
            Maps
        </div>
    </div>

    <div class="row">
        <!-- Factory map -->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Factory
            </p>
            <img src="assets/images/Factory-Day_Banner.png" alt="Factory">
            <p><a class="button px-6 is-primary" href="https://escapefromtarkov.gamepedia.com/Factory">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Factory Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-3">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>

        <!-- Customs map -->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Customs
            </p>
            <img src="assets/images/Customs_Banner.png" alt="Customs">
            <p><a class="button px-6 is-primary" href="https://escapefromtarkov.gamepedia.com/Customs">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Customs Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>

        <!-- woods map-->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Woods
            </p>
            <img src="assets/images/Banner_woods.png" alt="woods">
            <p><a class="button px-6 is-primary" href="https://escapefromtarkov.gamepedia.com/Woods">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Woods Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-3">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>
    </div>

    <!-- second row -->
    <div class="row">

        <!-- Interchange map -->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Interchange
            </p>
            <img src="assets/images/Banner_interchange.png" alt="Interchange">
            <p><a class="button px-4 is-primary" href="https://escapefromtarkov.gamepedia.com/Interchange">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Interchange Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-4">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>

        <!-- The Lab map -->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                The Lab
            </p>
            <img src="assets/images/TheLabBanner.png" alt="The Lab">
            <p><a class="button px-6 is-primary" href="https://escapefromtarkov.gamepedia.com/The_Lab">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>The Lab Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-2">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>
        
        <!-- Reserve map -->
        <div class="column">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Reserve
            </p>
            <img src="assets/images/Reserve.png" alt="Reserve">
            <p><a class="button px-6 is-primary" href="https://escapefromtarkov.gamepedia.com/Reserve">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Reserve Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-2">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>

    </div>

    <div class="row">
        <div class="column has-text-centered">
            <p class="has-text-centered has-text-white is-size-4 is-family-code">
                Shoreline
            </p>
            <img src="assets/images/Banner_shoreline.png" alt="Shoreline">
            <p><a class="button px-5 is-primary" href="https://escapefromtarkov.gamepedia.com/Shoreline">
                <span class="icon">
                    <i class="fa fa-wikipedia-w"></i>
                </span>
                <span>Shoreline Wiki</span>
            </a>
            <a class="button is-inverted px-6">
                <span class="icon px-2">
                    <i class="fa fa-star"></i>
                </span>
                <span>Favorite</span>
            </a>
            </p>
        </div>
    </div>

</section>